.filter-section {
    margin: 30px 160px 0 160px;

    .filter-task-container {
        width: 100%;
        display: flex;
        justify-content: space-between;


        .filter-buttons {
            display: flex;
            justify-content: center;
            gap: 8px;

            
        }
        .filter-buttons button {
                width: auto;
                min-width: 60px;
                font-size: 14px;
                font-weight: 500;
                align-items: center;
                background: white;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                border-radius: 6px;
                border: none;

            }

          .filter-buttons button.active {
                background: #0d6efd;
                color: white;

            }

        /* .form-control {
            font-size: 15px;
        } */

        .search-container {
            width: 350px;
            height: 40px;
            display: flex;
            align-items: center;
            border: 1px solid #dce1ee;
            border-radius: 10px;
            background: #ffffff;
            padding: 0 15px;
            box-sizing: border-box;
        }

        .search-icon {
            font-size: 16px;
            color: #7180a5;
            margin-right: 12px;
        }

        .search-container input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            color: #17213f;
            background: transparent;
        }

        .search-container input::placeholder {
            color: #7c89a8;
        }
    }
}